extends layout

block content
    section.main-content.employer-main-content
        div.section-title
            h2 #{profile.name}
        div.main-content-padded
            - if (profile.photo)
                img(src="#{profile.photo}", alt="#{profile.username}", class="employer-profile-photo")
            - else
                img(src="images/no-photo.png", alt="#{profile.username}")

            table.employer-profile-main
                - var mainInfo = [profile.name, profile.industry, profile.county, "< " + profile.employees, profile.jobs.length]
                - var mainInfoLabels = ["Company", "Industry", "Location", "Employees", "Current Positions"]
                each item, i in mainInfo
                    - if (item || item == 0)
                        tr
                            td #{mainInfoLabels[i]}:
                            td= item
            div.clear

            h3.info-heading #{job.jobTitle}
            hr

            table.employer-profile-table.employer-job-details
                tr
                    td.first-td Title:
                    td #{job.jobTitle}
                - var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
                - var jobFrom = months[String(job.jobFrom).substr(4, 2) - 1] + " " + String(job.jobFrom).substr(0, 4)
                - var jobTo = months[String(job.jobTo).substr(4, 2) - 1] + " " + String(job.jobTo).substr(0, 4)
                tr
                    td.first-td Duration:
                    td= jobFrom + " - " + jobTo
                tr
                    td.first-td Description:
                    td #{job.jobDesc}
            br

            - if (employer)
                - if (job.applicants[0] !== null && employer.username === profile.username)
                    h3.info-heading Applicants
                    hr

                    table.employer-profile-table
                        each applicant in job.applicants
                            tr
                                td.first-td Username:
                                td
                                    a(href="/users/#{applicant}") #{applicant}

                    br

            - if (user)
                form#apply-for-job(action="/employers/#{profile.username}/jobs/#{jobIndex + 1}/apply", method="POST", enctype="multipart/form-data")
                    input(type="hidden", name="_method", value="PUT")

                    input(type="hidden", name="employer", value="#{profile.username}")
                    input(type="hidden", name="jobId", value="#{jobIndex}")

                    input(type="submit", id="apply-submit", class="submit-button no-margin", value="Apply")