extends layout

block content
  section.main-content.register-main-content
    div.section-title
      h2 Register
    div.main-content-padded
      form#register.form-display(action="/users/new", method="POST")
        h3.form-heading Account Details
        hr
        label(for="username") Username:
        input(type="text", name="username", id="register-username", value="")
        br
        label(for="email") Email:
        input(type="text", name="email", id="register-email", value="")
        br
        label Confirm Email:
        input(type="text", id="register-confirm-email", value="")
        br
        label(for="password") Password:
        input(type="password", name="password", id="register-password", value="")
        br
        label Confirm Password:
        input(type="password", id="register-confirm-password", value="")

        h3.form-heading About You
        hr
        label(for="forename") First Name:
        input(type="text", name="forename", id="register-forename", value="")
        br
        label(for="surname") Surname:
        input(type="text", name="surname", id="register-surname", value="")
        br
        label Date of Birth:
        select(name="dayOfBirth", id="register-day-of-birth")
            - for (i = 1; i < 32; i++) {
                option(value="#{i}") #{i}
            - }
        select(name="monthOfBirth", id="register-month-of-birth")
            months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
            each month, i in months
                option(value="#{i+1}") #{month}
        select(name="yearOfBirth", id="register-year-of-birth")
            - for (i = 1920; i < 2000; i++) {
                - if (i === 1990)
                    option(value="#{i}", selected="selected") #{i}
                - else
                    option(value="#{i}") #{i}
            - }
        br
        label(for="addressLine1") Address Line 1:
        input(type="text", name="addressLine1", id="register-address-line-1", value="")
        br
        label(for="addressLine2") Address Line 2:
        input(type="text", name="addressLine2", id="register-address-line-2", value="")
        br
        label(for="townCity") Town / City:
        input(type="text", name="townCity", id="register-town-city", value="")
        br
        label(for="county") County:
        input(type="text", name="county", id="register-county", value="")
        br
        label(for="phone") Phone Number:
        input(type="text", name="phone", id="register-phone", value="")

        h3.form-heading Education
        hr
        label(for="college") College Name:
        select(name="college", id="register-college")
            each college in colleges
                option(value="#{college}") #{college}
        br
        label(for="collegeCourse") Course Title:
        input(type="text", name="collegeCourse", id="register-course", value="")
        br
        label From / To:
        select(name="collegeFrom", id="register-college-from")
            - for (i = 1950; i < 2014; i++) {
                - if (i === 2010)
                    option(value="#{i}", selected="selected") #{i}
                - else
                    option(value="#{i}") #{i}
            - }
        select(name="collegeTo", id="register-college-to")
            - for (i = 1950; i < 2014; i++) {
                - if (i === 2013)
                    option(value="#{i}", selected="selected") Present
                - else
                    option(value="#{i}") #{i}
            - }
        br
        label(for="school") Secondary School:
        input(type="text", name="school", id="register-school", value="")
        br
        label(for="leavingCert") Leaving Certificate:
        input(type="checkbox", name="leavingCert", id="completed-leaving-certificate")
        br
        label From / To:
        select(name="schoolFrom", id="register-school-from")
            - for (i = 1950; i < 2014; i++) {
                - if (i === 2005)
                    option(value="#{i}", selected="selected") #{i}
                - else
                    option(value="#{i}") #{i}
            - }
        select(name="schoolTo", id="register-school-to")
            - for (i = 1950; i < 2014; i++) {
                - if (i === 2013)
                    option(value="#{i}", selected="selected") Present
                - else
                    option(value="#{i}") #{i}
            - }

        h3.form-heading Work Experience
        hr
        label(for="job[0][employer]") Employer:
        input(type="text", name="job[0][employer]", id="register-employer-1", value="")
        br
        label(for="job[0][jobTitle]") Job Title:
        input(type="text", name="job[0][jobTitle]", id="register-employer-1-title", value="")
        br
        label(for="job[0][jobDesc]") Job Description:
        textarea(name="job[0][jobDesc]", id="register-employer-1-description")
        br
        label From / To:
        select(name="job[0][jobFrom]", id="register-employer-1-from")
            - for (i = 1950; i < 2014; i++) {
                - if (i === 2009)
                    option(value="#{i}", selected="selected") #{i}
                - else
                    option(value="#{i}") #{i}
            - }
        select(name="job[0][jobTo]", id="register-employer-1-to")
            - for (i = 1950; i < 2014; i++) {
                - if (i === 2013)
                    option(value="#{i}", selected="selected") Present
                - else
                    option(value="#{i}") #{i}
            - }
        br
        a(href="#", id="register-add-another-job") Add Another +

        h3.form-heading Looking for
        hr
        label(for="roleSeeking") Position Seeking:
        input(type="text", name="roleSeeking", id="register-role-seeking", value="")
        br
        label(for="desiredDuration") Desired Duration:
        select(name="desiredDurationNumber", id="register-desired-duration-number")
            - for (i = 1; i < 13; i++) {
                option(value="#{i}") #{i}
            - }
        select(name="desiredDurationScale", id="register-desired-duration-scale")
            option(value="days") Days
            option(value="weeks") Weeks
            option(value="months", selected="selected") Months
            option(value="years") Years
        br
        input(type="submit", id="register-submit", class="submit-button", value="Register")